<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      @if ((getEmail.dirty || getEmail.touched) && getEmail.errors) {
      <div class="errors">
        <span >Incorent email</span>
      </div>
      }
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      @if ((getPassword.dirty || getPassword.touched) && getPassword.errors) {
      <div class="errors">
        @if (getPassword.hasError('required')) {<span >Password is required</span>}
        @if (getPassword.hasError('minlength')) {<span >Password needs to be 6 characters</span>}
      </div>
      }

    </div>

    <ion-button type="submit" [disabled]="!credentials.valid" expand="block">register</ion-button>
    <ion-button type="button" expand="block" color="light" fill="clear">Not yet a member? Sign up!
    </ion-button>

  </form>
</ion-content>
